html {
    box-sizing: border-box;
}
*,
*::before ,
*::after {
     box-sizing: inherit
}
body {
    color: #626262;
font-family: 'Playfair Display', serif;
font-size: 14px;
line-height: 24px;
}
.page-header {
    width: 1200px;
    margin: 0 auto;
}
.container {
    width: 900px;
    margin: 0 auto;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.nav-menu {
    margin-top: 72px;
    margin-bottom: 99px;
    padding: 0;
    list-style: none;
    text-align: center
}
.nav-menu a{
    color: #626262;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-menu a:hover ,
.nav-menu a:focus {
    color: #03a9f4
}
.nav-menu li {
    display: inline-block; 
    margin: 0 3rem;

}
.card {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
}

.card:nth-child(2n){
    margin-right: 0;
}
.card:nth-child(n+3){
    margin-top: 13px;
}
.cards{
    font-size: 0;
}
.some-text {
    width: 414px;
height: 63px;
color: #626262;
font-size: 14px;
}
.article-title{
    font-family: "Playfair Display";
    font-size: 30px;

}
.list_style {
    width: 63px;
height: 11px;
color: #b4ad9e;
font-family: Ubuntu;
font-size: 14px;
font-weight: 300;
text-transform: uppercase;
}
.load_button {
    border: none;
    margin-top: 70px;;
    padding: 19px 34px;
    min-width: 190px;
height: 60px;
background-color: #fff;
border: 1px solid #626262;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
color: #626262;;
cursor: pointer;
}
.button-box {
   text-align: center;
}