$pre-heading-font: 'Kaushan Script';
$text-font-stack: 'Roboto' , 'sans-serif';
$main-font-stack: 'Montserrat', 'sans-serif';
$text-color: #999;
$header-font-color: #fff;
$heading-font-color: #333;